VITE_SHOPIFY_STORE_DOMAIN=bolsos-by-konverso.myshopify.com
VITE_SHOPIFY_API_VERSION=2024-07
VITE_SHOPIFY_STOREFRONT_TOKEN=reemplaza_con_tu_storefront_token
VITE_SHOPIFY_FEATURED_COLLECTION=lamparas-de-luna
